@font-face {
	font-family: futura-b;
	src: url(futura/FuturaStd-Heavy.otf);
}

@font-face {
	font-family: futura-bb;
	src: url(futura/FuturaStd-Bold.otf);
}

@font-face {
	font-family: Monoton;
	src: url(monoton/Monoton-Regular.ttf);
}

@font-face {
	font-family: AvenirNext-Bold;
	src: url(avenir/AvenirNext-Bold-01.ttf);
}

@font-face {
	font-family: AvenirNext-DemiBold;
	src: url(avenir/AvenirNext-DemiBold-03.ttf);
}

@font-face {
	font-family: AvenirNext-Medium;
	src: url(avenir/AvenirNext-Medium-06.ttf);
}

@font-face {
	font-family: AvenirNext-Regular;
	src: url(avenir/AvenirNext-Regular-08.ttf);
}

/* declaration end */

body {
	overflow-x: hidden;
}

.mockup-container {
	max-width: 420px !important;
	margin: auto !important;
}

/* Primary header */
h1{
	font-size: 32px;
	font-family: 'AvenirNext-DemiBold', sans-serif;
	color: #dc2127;
}

/* Header on project pages wpost-scroll-down */
h1.text-shrink{
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	font-size: 21px;
	line-height: 40px;
	margin: 12px 0px 12px 0px;
}

/* Text in project banners */
h2 {
	font-family: 'futura-b', serif;
	font-size: 42px;
	line-height: 42px;
}

/* Section headers in project pages*/
h3 {
	font-family: 'AvenirNext-Medium', serif;
	font-style: italic;
	font-size: 18px;
	color: #666;
}

/* Default heading text size */
h4{
	font-size: 18px;
	font-family: 'AvenirNext-Medium', sans-serif;
}

/* Landing page bio text */
h4.short-caption {
	color: #666;
	font-weight: 500 !important;
	line-height: 24px;
	margin: 16px 0px 24px 0px;
}

/* Landing page bio text */
h4.mockup-caption {
	font-family: futura-bb;
}

h6 {
	font-family: 'AvenirNext-Bold', sans-serif;
	font-size: 16px;
	margin-bottom: 12px;
	color: #444;
}

h6.highlight-header {
	font-family: 'futura-bb';
	color: #fff;
	font-size: 21px;
	line-height: 24px;
}

p {
	font-family: 'AvenirNext-Regular', sans-serif;
	color: #666;
	font-size: 16px;
	line-height: 24px;
}

p.highlight {
	font-family: 'AvenirNext-Medium', sans-serif;
	color: #2a2a2a;
	font-size: 18px;
	line-height: 21px;
}

.ref-link {
	text-decoration: none;
	font-family: 'AvenirNext-Regular', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #4c4d4d;
	font-size: 16px;
	line-height: 24px;
	border-bottom: 1px #dc2127 solid;
}

a.ref-link:hover,
a.ref-link:focus,
a.ref-link:active
 {
 	text-decoration: none;
	color: #dc2127;
}

.dark-bg-container{
	background-color: #333;
	padding: 96px 0px;
}

.solid-bg-container{
	background-color: #eee;
	padding: 96px 0px;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/*
==================================
	START OF NAVBAR CLASSES		 
==================================
*/

.nav-fix-top {
	position: fixed !important;
	width: 100%;
	z-index: 999;
	left: 0px !important;
}

.navbar{
	border: 0px;
	margin: 0px;
	background: white;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

div.hr {
	background: #fff  no-repeat scroll center;
	height: 56px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

hr.underline {
	margin: 0px !important;
	border: 2px solid #F9963E !important;
	width: 180px;
	float: left;
	display: block;
}

div.header-shrink{
	height: 40px;
	margin: 12px 0px;
}

div.current-page{
	text-align: center;
	display: inline-block;
}

div.nav-page-tabs{
	-webkit-transition: all 0.5s ease;
	width: 100%;
	max-height: 40px;
	display: inline-block;
	transition: all 0.5s ease;
	text-align: center;
}

/*
==================================
	END OF NAVBAR CLASSES		 
==================================
*/

/*
==================================
	START OF HYPERLINK CLASSES		 
==================================
*/

a{
	font-family: 'AvenirNext-Medium', sans-serif;
	color: #444;
	font-size: 16px;
	display: inline-block;
	text-decoration: none;
}

a:hover,
a:focus,
a:active
 {
	text-decoration: none;
	color: #dc2127 !important;
}

a.contact-text {	
	margin-left: 12px;
}

a.quick-links{
	text-transform: uppercase;
	line-height: 40px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

a.quick-links:hover,
a.quick-links:focus,
a.quick-links:active {
	text-decoration: none;
	color: #dc2127;
}

a.quick-links-current{
	text-transform: uppercase;
	font-weight: 600 !important;
	color: #dc2127;
	font-size: 16px;
	margin-bottom: 0px;
	line-height: 40px;
}

a.quick-links-current:hover,
a.quick-links-current:focus,
a.quick-links-current:active {
	text-decoration: none;
}

a.page-header{
	margin: 0px;
	padding: 0px !important;
	border: none;
}

a.page-header:hover,
a.page-header:focus,
a.page-header:active {
	text-decoration: none;
}